<IfModule mod_rewrite.c>

  RewriteEngine On
  #### remove www from front of url
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]

  #### force all calls to the base url
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
#http://www.zeilenwechsel.de/it/articles/8/Using-mod_rewrite-in-.htaccess-files-without-knowing-the-RewriteBase.html
  RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
  RewriteRule ^.*$ %2/index.html [QSA,L]

</IfModule>
